.editContactInfo{
  display: grid;
  gap: 13px;
  grid-template-columns: 100px 1fr auto auto;

  align-items: center;
  padding: 20px 50px;
  width: clamp(450px, 65%, 650px);
}

.editContactInfo label{
  grid-column: 1 / 2;
  text-align: right;
  align-self: end;
}

.editContactInfo input{
  grid-column: 2 / 3;
}

.editContactInfo select {
  grid-column: 3 / 4;
}

.editContactInfo input,
.editContactInfo select {
  background-color: white;
  border: 0;
  box-shadow: 1px 1px 2px black;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px 16px;
}

.editContactInfo button {
  grid-column: 4 / 5;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.editContactInfo button img {
  width: 22px;
}

.phoneNumbersList {
  grid-column: 2 / 3;
}

.phoneNumbersList ul {
  padding: 0;
}

.phoneNumbersList li {
  display: grid;
  grid-template-columns: 75px 1fr 30px;
  gap: 10px;
  align-items: center;
  margin: 0;
  padding: 0 10px;
}

.phoneNumbersList li .type {
  text-transform: capitalize;
}

.phoneNumbersList li .button {
  margin-left: auto;
}

