.contactInfo{
  border: 1px solid black;
  display: grid;
  gap: 13px;
  grid-template-columns: auto 1fr auto auto;

  align-items: center;
  padding: 20px 50px;
  width: clamp(450px, 65%, 650px);
}

.contactInfo label{
  grid-column: 1 / 2;
  text-align: right;
}

.contactInfo input{
  grid-column: 2 / 3;
}

.contactInfo select {
  grid-column: 3 / 4;
}

.contactInfo input,
.contactInfo select {
  background-color: white;
  border: 0;
  box-shadow: 1px 1px 2px black;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px 16px;
}

.contactInfo button {
  grid-column: 4 / 5;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.contactInfo button img {
  width: 22px;
}

.phoneNumbersList {
  grid-column: 2 / 3;
}

.phoneNumbersList li {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.phoneNumbersList li * {
  border: 1px solid black;
}

