@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: Roboto;
}

.cv-section {
  border: 1px solid black;
  margin-top: 15px;
}

.cv-section>div{
  padding: 20px 50px;
}

.cv-section .cv-section-header{
  background-color: aqua;
  position: relative;
  top: -14px;
  left: 15px;
  font-size: 16px;
  margin: 4px;
  width: fit-content;
}

.cv-section input,
.cv-section select {
  background-color: white;
  border: 0;
  box-shadow: 1px 1px 2px black;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px 16px;
}

.svg-button {
  background-color: rgba(0, 0, 0, 0);
  border: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.svg-button img {
  width: 22px;
}