.educationForm {
  display: grid;
  gap: 13px;
  grid-template-columns: 150px auto;

  align-items: end;
  width: clamp(450px, 60%, 650px);
}

.educationForm label{
  text-align: right;
}

.educationForm button {
  grid-column: 2 / 3;

  padding: 5px 20px;
}

.educationForm .error{
  grid-column: 2 / 3;
  color: rgba(255, 0, 0, 1);
  font-size: 14px;
  margin-left: 18px;
  display: none;

}

.educationForm .error.active{
  display: block;
}